<center><h1>About Instabook</h1></center>
<br/>
<p style="font-size:35px"><strong>Instabook</strong> is the webapplication we can create a new account here...
Once created a new account we can create a new posts..... <br/>
<i>For New Registeration</i> </p>
<b><%= link_to "click here", new_user_registration_path %></b>